html, body{
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto;
  background-color: rgb(29, 28, 28) !important;
}
#playGrid{
  display: grid;
  grid-template-columns: repeat(3,100px);
  grid-template-rows: repeat(3,100px);
}
button{
  border-radius: 0px !important;
  margin: 1px;
  border: none;
  background-color: gray;
  font-size: 60px;
}
#header{
  font-size: 20px;
  color: rgb(213, 199, 199);
}