body{
  font-family: "Open Sans";
}
#display{
  width: 600px;
  height: 600px;
  border: 2px solid #000000;
}
#footer{
  display: grid;
  grid-template-columns: 80px 1fr 50px;
}
#label1,#label2{
  margin-bottom: 0px;
}
input,p,button{
  margin-top: 20px !important;
}
.div{
  display: flex;
  justify-content: center;
  align-items: center;
}
#message,#roomId{
  width: 460px;
  border-radius: 0px;
  border: 1px solid #000000;
  height: 18px;
}
#send,#join{
  width: 49px;
  height: 22px;
  border-radius: 0px;
  border: 1px solid #000000;
}
#join{
  height: 21px;
}
.message{
  margin-left: 5px;
}
.joinMessage{
  width: 100%;
  background-color: rgb(193, 193, 193) !important;
}
#display{
  overflow-y: scroll;
}