body{
  background-color: rgb(23, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto;
}

.container{
  display: grid;
  grid-template-columns: repeat(4,100px);
  grid-template-rows: repeat(5,100px);
}
.mainButtons{
  font-size: 40px;
  background: rgb(71, 71, 71);
  color: white;
  border-radius: 20px;
  margin: 5px;
  border : none;
}
.extra{
  color : orange;
}
#display{
  color: white;
  font-size: 50px;
  font-family: roboto;
  padding-left: 10px;
}
#equal{
  color : white !important;
  background-color: orange !important;
}